<div class="input-card">
    <label for="username" class="form-label">Username: </label><br>
    <input type="text" class="form-input" id="username" name="username" placeholder="Make it clever...">
</div>

<div class="input-card">
    <label for="email" class="form-label">Email: </label><br>
    <input type="text" class="form-input" id="email" name="email" placeholder="Best place to reach you...">
</div>

<div class="input-card">
    <label for="password" class="form-label">Password: </label><br>
    <input type="text" class="form-input" id="password" name="password" placeholder="Don't forget it...">
</div>

<div class="input-card">
    <label for="profileImg" class="form-label">Profile Picture URL: </label><br>
    <input type="text" class="form-input" id="profileImg" name="profileImg" placeholder="Keep it classy...">
</div>

<div class="input-card" class="form-label">
    <label for="city">City: </label><br>
    <input type="text" class="form-input" id="city" name="city" placeholder="Your current city...">
</div>