<!DOCTYPE html>
<html lang="en">


<%- include('../partials/head.ejs', { page: 'View Photo' }) %> 

<body>

    <%- include('../partials/main_nav.ejs') %>

    <div class="solo-photo-container">

        <div class="solo-comment-container">
            
            <H1>SUCCESS!</H1>

            <button class="submit"><a href="/photos">Return</a></button>

        </div>

    </div>

<%- include('../partials/footer.ejs') %>

</body>
</html>