*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background-color: #1B5680;
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

/* Main NAV */
.nav {
    margin-top: -0.05em;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #802164;
    box-shadow: 0.1em 0.1em 0.4em #7FFF0D;
}

.col-30 {
    width: 30%;
    display: flex;
    padding-left: 1em;
}

.col-70 {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
}

ul {
    padding: 0;
}

#icon-background {
    color: #CC3FA3;
    background-color: #802164;
    margin: auto 0;
    padding: 0 1em 0 0.5em;
}

.nav li {
    list-style-type: none;
    padding: 0.3em;
    margin: 1em 0.5em;
    font-size: 1.2em;
    background-color: #478014;
    border-radius: 0.25em;
}

#dropdown {
    position: relative;
    background-color: #1B5680;
    border: 1px solid #FFF;
}

#dropdown a {
    color: #FFF;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #802164;
    /* box-shadow: 0.05em 0.05em 0.4em #7FFF0D; */
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    margin-top: 0.5em;
    /* width: 100%; */
}

#myDropdown a:hover {
    color: #202225;
    background-color: #7FFF0D;
}

.nav li:hover,
.nav li:focus {
    background-color: #7FFF0D;
    box-shadow: 0.1em 0.1em 0.4em #CC3FA3;
}

.nav a {
    text-decoration: none;
    color: #FFF;
}

.dropdown-content a {
    color: #222;
    padding: 0.25em 0.5em;
    text-decoration: none;
    display: block;
}

.nav a:hover,
.dropdown-content a:hover {
    cursor: pointer;
    color: #202225;
}

.show {
    display: flex;
    flex-direction: column;
}

/* Home View */
.home-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 6em;
}

.home-title {
    font-size: 3em;
    color: white;
    /* align-self: flex-start; */
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    /* border: 1px solid #202225;
    border-radius: 0.5em; */
}

.login-card {
    margin: 0.5em;
}

.login-card .form-input {
    border: 1px solid #202225;
    border-radius: 0.55em;
}

.home-sub-title {
    font-size: 1.5em;
}

.submit.home {
    margin: 1em 0;
}

/* User Index */
.main-container {
    margin-top: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.user-index-card {
    background-color:#802164;
    margin: 0.5em;
    padding: 0.5em;
    color: #FFF;
}

.user-index-card:hover {
    transform: scale(1.02);
}

#user-index-img {
    max-width: 15em;
    max-height: 9em;
}

#user-index-name {
    font-size: 1.8em;
    text-decoration: none;
    color: #FFF;
}

#user-index-name:hover {
    color: #7FFF0D;
}

/* Form */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8em;
    color: #7FFF0D;
}

.input-card {
    margin-top: 1.5em;
}

.form-label {
    margin-top: 1em;
    color: #7FFF0D;
}

.form-input,
.text-area {
    padding: 0.5em;
    margin-top: 0.25em;
    width: 32em;
    border: 1px solid #202225;
    border-radius: 0.5em;
    background-color: #202225;
    color: #FFF;
}

.submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.submit {
    padding: 0.6em;
    font-size: 1.1em;
    background-color: #7FFF0D;
    border-radius: 0.4em;
    color: #202225;
    border: none;
}

.submit.edit {
    margin: 1.5em 0 4em 0;
}

.submit:hover,
.submit:focus {
    background-color: #478014;
    color: #FFF;
    box-shadow: 0.2em 0.2em 0.4em #CC3FA3;
    cursor: pointer;
}

#user_submit {
    margin: 1.5em 0 4em 0;
}

/* Show (Profile) View */
.profile-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.profile-photo-wrapper {
    margin-right: 1em;
    padding: 2.3em;
    background-color: #CC3FA3;
}

.profile-photo {
    max-width: 20em;
    border-radius: 0.1em;
}

.user-info-wrapper {
    font-size: 2em;
    margin: 1em;
    padding: 0 1em;
    background-color: #CC3FA3;
}

.user-info-label {
    font-size: 0.8em;
    color: #FFF;
}

.photo-label.user-info-label {
    font-size: 1.5em;
    padding: 0 0 2em 10em;
}

.user-photos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
    flex-wrap: wrap;
} 

.user-photo-card {
    background-color: #CC3FA3;
    padding: 0.75em;
    margin: 2.5em;
}

.user-photo-card img {
    max-width: 15em;
    max-height: 9em;
}

.user-photo-card:hover {
    transform: scale(1.05);
}

/* Delete View */
.delete-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.submit.cancel {
    background-color: #478014;
    color: #FFF;
    font-size: 1.2em;
}

.submit.cancel:hover {
    background-color: #7FFF0D;
    color: #202225;
}

.submit.danger {
    background-color: #FF4C29;
    font-size: 1em;
}

.submit.danger:hover {
    background-color: #ec3939;
}

/* Footer */
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #802164;
    position: fixed;
    bottom: 0;
}

.footer {
    color: #7FFF0D;
}