<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', { page: 'DANGER' }) %> 

<body>
    
    <%- include('../partials/main_nav.ejs') %>

    <div class="form-container">
        
        <form action="/users" method="DELETE" id="new-user">

            <p>You are about to delete something... permanently!</h1>
            <p>Are you sure you want to do that?</p>
            <div class="delete-btn-container">
                <div class="submit-container" class="form-label">
                    <input type="submit" class="submit cancel" name="newuser_submit" value="Cancel">
                </div>
                <div class="submit-container" class="form-label">
                    <input type="submit" class="submit danger" name="newuser_submit" value="Delete">
                </div>
            </div>
        </form>
    
    </div>

    <%- include('../partials/footer.ejs') %>

</body>
</html>