<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', { page: 'Users' }) %> 

<body>
    
    <%- include('../partials/main_nav.ejs') %>
    <h1>PARTY TEST</h1>
    <%- include('../partials/footer.ejs') %>

</body>
</html>